@{
    ViewData["Title"] = "Create Concert";
}
@model TicketingApp.Protos.Concert

<h1>Add Concert</h1>
<form method="post" asp-action="Create">
    <input type="hidden" value="" asp-for="Id"/>
    <div class="form-group">
        <label for="artistInput">Artist</label>
        <input asp-for="Artist" type="text" class="form-control" id="artistInput" placeholder="Enter the artist name">
    </div>
    <div class="form-group">
        <label for="priceInput">Price</label>
        <input asp-for="Price" type="number" class="form-control" id="priceInput" placeholder="Enter the concert price">
    </div>
    <div class="form-group">
        <label for="placesInput">Places</label>
        <input asp-for="Place" type="number" class="form-control" id="placesInput" placeholder="Enter the number of places">
    </div>
    <button type="submit" class="btn rounded btn-primary">Add</button>
</form>